name: Build and Deploy Sphinx docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install project & documentation dependencies
        run: |
          pip install -e .
          pip install sphinx sphinx-autodoc-typehints sphinx-rtd-theme

      - name: Build Sphinx HTML
        run: |
          sphinx-build -b html docs/source docs/_build/html

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          publish_branch: gh-pages